# Week8 - Lab 
## Working with Strings

[Kaggle ML & Data Science Survey - 2018](https://www.kaggle.com/kaggle/kaggle-survey-2018?select=freeFormResponses.csv)

In [38]:
import pandas as pd

df = pd.read_csv('https://raw.githubusercontent.com/msaricaumbc/DS_Data/master/freeFormResponses.csv', low_memory=False)

In [39]:
for i, question in enumerate(df.loc[0].values):
    print(i, question)

0 Select any activities that make up an important part of your role at work: (Select all that apply) - Other - Text
1 What is the primary tool that you use at work or school to analyze data? (include text response) - Other - Text
2 What is the primary tool that you use at work or school to analyze data? (include text response) - Basic statistical software (Microsoft Excel, Google Sheets, etc.) - Text
3 What is the primary tool that you use at work or school to analyze data? (include text response) - Advanced statistical software (SPSS, SAS, etc.) - Text
4 What is the primary tool that you use at work or school to analyze data? (include text response) - Business intelligence software (Salesforce, Tableau, Spotfire, etc.) - Text
5 What is the primary tool that you use at work or school to analyze data? (include text response) - Local or hosted development environments (RStudio, JupyterLab, etc.) - Text
6 What is the primary tool that you use at work or school to analyze data? (include text response) - Cloud-based data software & APIs (AWS, GCP, Azure, etc.) - Text
7 Which of the following integrated development environments (IDE's) have you used at work or school in the last 5 years? (Select all that apply) - Other - Text
8 Which of the following hosted notebooks have you used at work or school in the last 5 years? (Select all that apply) - Other - Text
9 Which of the following cloud computing services have you used at work or school in the last 5 years? (Select all that apply) - Other - Text
10 What programming languages do you use on a regular basis? (Select all that apply) - Other - Text
11 What specific programming language do you use most often? - Other - Text
12 What programming language would you recommend an aspiring data scientist to learn first? - Other - Text
13 What machine learning frameworks have you used in the past 5 years? (Select all that apply) - Other - Text
14 What is your gender? - Prefer to self-describe - Text
15 Of the choices that you selected in the previous question, which ML library have you used the most? - Other - Text
16 What data visualization libraries or tools have you used in the past 5 years? (Select all that apply) - Other - Text
17 Of the choices that you selected in the previous question, which specific data visualization library or tool have you used the most? - Other - Text
18 Which of the following cloud computing products have you used at work or school in the last 5 years (Select all that apply)? - Other - Text
19 Which of the following machine learning products have you used at work or school in the last 5 years? (Select all that apply) - Other - Text
20 Which of the following relational database products have you used at work or school in the last 5 years? (Select all that apply) - Other - Text
21 Which of the following big data and analytics products have you used at work or school in the last 5 years? (Select all that apply) - Other - Text
22 Which types of data do you currently interact with most often at work or school? (Select all that apply) - Other Data - Text
23 What is the type of data that you currently interact with most often at work or school? - Other Data - Text
24 Where do you find public datasets? (Select all that apply) - Other - Text
25 During a typical data science project at work or school, approximately what proportion of your time is devoted to the following? (Answers must add up to 100%) - Other
26 What percentage of your current machine learning/data science training falls under each category? (Answers must add up to 100%) - Other - Text
27 On which online platforms have you begun or completed data science courses? (Select all that apply) - Other - Text
28 On which online platform have you spent the most amount of time? - Other - Text
29 Who/what are your favorite media sources that report on data science topics? (Select all that apply) - Other - Text
30 What metrics do you or your organization use to determine whether or not your models were successful? (Select all that apply) - Other - Text
31 What tools and methods do you use to make your work easy to reproduce? (Select all that apply) - Other - Text
32 What barriers prevent you from making your work even easier to reuse and reproduce? (Select all that apply) - Other - Text
33 Select the title most similar to your current role (or most recent title if retired): - Other - Text
34 In what industry is your current employer/contract (or your most recent employer if retired)? - Other - Text

In [40]:
df.loc[:, 'Q12_Part_4_TEXT'].value_counts().sort_values(ascending =False)[150:200]

Python 3.6                      3
Spyder, Jupyter Notebook        3
Jupyter Lab                     3
py                              3
Jupyter Notebook, PyCharm       3
Python R                        3
R & Python                      3
Visual Studio                   3
Knime                           3
Python & R                      3
Studio                          3
JupyterNotebooks                3
Python,R                        3
R, Spyder                       3
SQL Server                      3
Anaconda Spyder                 3
RStudio, JupiterLab             3
R Studio, Jupyter               3
Jupiter notebooks               3
Rstudio, Jupyterlab             3
JupyterLab, Jupyter Notebook    3
Python, Jupyterlab              3
jupyter notebook                3
Jupyter Notebook, RStudio       3
jupyter-notebook                3
RStudio,Anaconda                3
JUPYTER                         3
IPython                         3
IBM Watson Studio               3
Rstudio,JupyterLab              3
Python, Jupyter Notebooks       3
colab                           3
PyCharm, Anaconda               3
Jupterlab                       3
Python ecosystem                3
Jupyter, pandas                 3
R and python                    3
sklearn                         3
Jupyter, Spyder                 3
RStudio, MATLAB                 3
RStudio and python              3
Jupyter and Python              3
RStudio and Spyder              3
Python, Pandas                  3
JupyterLab, Pandas              3
Local Jupyter                   3
RStudio, Jupyterlab             3
Python, Matlab                  3
SQL                             3
r and python                    3
Name: Q12_Part_4_TEXT, dtype: int64

__Your Task__

- In  `Q12_Part_4_TEXT` they ask the tools the participants are using day to day. However as you might observe the answers are not standardized. 

- Find all the answers with 'jupyter' mentioned in it.

- Find all the participant who are Python users.

- Find all R users.

In [41]:
df = df.fillna('')

In [ ]:
#1

In [42]:
df[df['Q12_Part_4_TEXT'].str.contains('jup',case=False)]

,Q11_OTHER_TEXT,Q12_OTHER_TEXT,Q12_Part_1_TEXT,Q12_Part_2_TEXT,Q12_Part_3_TEXT,Q12_Part_4_TEXT,Q12_Part_5_TEXT,Q13_OTHER_TEXT,Q14_OTHER_TEXT,Q15_OTHER_TEXT,...,Q34_OTHER_TEXT,Q35_OTHER_TEXT,Q36_OTHER_TEXT,Q37_OTHER_TEXT,Q38_OTHER_TEXT,Q42_OTHER_TEXT,Q49_OTHER_TEXT,Q50_OTHER_TEXT,Q6_OTHER_TEXT,Q7_OTHER_TEXT
0,Select any activities that make up an importan...,What is the primary tool that you use at work ...,What is the primary tool that you use at work ...,What is the primary tool that you use at work ...,What is the primary tool that you use at work ...,What is the primary tool that you use at work ...,What is the primary tool that you use at work ...,Which of the following integrated development ...,Which of the following hosted notebooks have y...,Which of the following cloud computing service...,...,During a typical data science project at work ...,What percentage of your current machine learni...,On which online platforms have you begun or co...,On which online platform have you spent the mo...,Who/what are your favorite media sources that ...,What metrics do you or your organization use t...,What tools and methods do you use to make your...,What barriers prevent you from making your wor...,Select the title most similar to your current ...,In what industry is your current employer/cont...
1,,,,,,"Jupyter Notebooks, Pycharm, Intelijidea",,,,,...,0.0,,mlcourse.ai,,ods.ai,,,,,
7,,,,,,JupyterLab,,,,,...,0.0,,,,,,,,,
9,,,,,,Jupyterlab,,,,,...,0.0,,,,,,,,,
12,,,,,,"JupyterLab, Jupyter Notebook",,,,,...,0.0,,,,,,,,Junior Data Scientist,
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
23825,,,,,,Jupyterlab,,,,,...,,,,,,,,,,
23836,,,,,,jupyter,,,,,...,0.0,,,,ods.ai,,,,,
23847,,,,,,Jupyter,,,,,...,0.0,,,,,,,,,
23848,,,,,,jupter notebook,,,,,...,0.0,,,,,,,,,
23857,,,,,,"JupyterLab, RStudio",,,,,...,0.0,,,,,,,,,

In [ ]:
#2

In [43]:
df[df['Q12_Part_4_TEXT'].str.contains('[\s,]py\w+|^py')]

,Q11_OTHER_TEXT,Q12_OTHER_TEXT,Q12_Part_1_TEXT,Q12_Part_2_TEXT,Q12_Part_3_TEXT,Q12_Part_4_TEXT,Q12_Part_5_TEXT,Q13_OTHER_TEXT,Q14_OTHER_TEXT,Q15_OTHER_TEXT,...,Q34_OTHER_TEXT,Q35_OTHER_TEXT,Q36_OTHER_TEXT,Q37_OTHER_TEXT,Q38_OTHER_TEXT,Q42_OTHER_TEXT,Q49_OTHER_TEXT,Q50_OTHER_TEXT,Q6_OTHER_TEXT,Q7_OTHER_TEXT
19,,,,,,"Rstudio, python",,,,,...,0.0,Cs231n stanford class lecture,,,,,,,,
65,,,,,,"Rstudio, python",,,,,...,0.0,,,,,,,,,
110,,,,,,python,,,,,...,0.0,,,,,,,,,
112,,,,,,"R, python",,,,,...,0.0,,,,,,,,,construction and installation
148,,,,,,pythion,,,,,...,0.0,,,,,,,,,
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
23789,,,,,,"anaconda, python",,,,,...,20,,,,,,,,,
23800,,,,,,python,,,,,...,0.0,,Linkdin learnings,,,,,,,
23801,,,,,,python hive,,,,,...,0.0,,,,,,,,,
23830,,,,,,python,,,,,...,0.0,,,,,,,,,
23850,,,,,,"python, pytorch, tensorflow",,,,,...,0.0,,,,,,,,,

In [ ]:
#3

In [44]:
df[df['Q12_Part_4_TEXT'].str.contains('^r[\s,(st)]|rst|\sr|s[|s]r[\s,]|[\s,]r$|^r$',case=False, regex=True)]

,Q11_OTHER_TEXT,Q12_OTHER_TEXT,Q12_Part_1_TEXT,Q12_Part_2_TEXT,Q12_Part_3_TEXT,Q12_Part_4_TEXT,Q12_Part_5_TEXT,Q13_OTHER_TEXT,Q14_OTHER_TEXT,Q15_OTHER_TEXT,...,Q34_OTHER_TEXT,Q35_OTHER_TEXT,Q36_OTHER_TEXT,Q37_OTHER_TEXT,Q38_OTHER_TEXT,Q42_OTHER_TEXT,Q49_OTHER_TEXT,Q50_OTHER_TEXT,Q6_OTHER_TEXT,Q7_OTHER_TEXT
0,Select any activities that make up an importan...,What is the primary tool that you use at work ...,What is the primary tool that you use at work ...,What is the primary tool that you use at work ...,What is the primary tool that you use at work ...,What is the primary tool that you use at work ...,What is the primary tool that you use at work ...,Which of the following integrated development ...,Which of the following hosted notebooks have y...,Which of the following cloud computing service...,...,During a typical data science project at work ...,What percentage of your current machine learni...,On which online platforms have you begun or co...,On which online platform have you spent the mo...,Who/what are your favorite media sources that ...,What metrics do you or your organization use t...,What tools and methods do you use to make your...,What barriers prevent you from making your wor...,Select the title most similar to your current ...,In what industry is your current employer/cont...
10,,,,,,Rstudio,,,,,...,0,,,,,,,,,
15,,,,,,"R,",,,,,...,10,Workshops and internship,,,,I am a student,,,,
19,,,,,,"Rstudio, python",,,,,...,0.0,Cs231n stanford class lecture,,,,,,,,
24,,,,,,Rstudio; julpyter,,,,,...,100.0,100,,,,,,,,
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
23838,,,,,,Rstudio,,,,,...,0.0,,,,,,,,,
23846,,,,,,Rstudio,,,,,...,10.0,,,,,,,,,
23849,,,,,,R studio,,,,,...,0.0,,,,,,,,,
23851,,,,,,"C++, R",,,,,...,0.0,,,,,,,,,
23857,,,,,,"JupyterLab, RStudio",,,,,...,0.0,,,,,,,,,